{% extends "store/base/base_cart.html" %}

{% block footer %}{% endblock %}

{% block content %}
<div id="cart" class="cart-wrap">
  <div class="">
    <div class="cart-content">
      <div id="block1" class="">
        <div class="p-gender">
          Giỏ hàng của bạn
        </div>
        <div class="block">
          <div class="lst-product onlyone">
            <div class="cart-list lstproductbuy lstproductoff">
              {% if pos.posdetail_set %}
                {% for posdetail in pos.posdetail_set.all %}
                  <div
                    class="cart-item item"
                    data-posdetail-id="{{ posdetail.id }}"
                    data-posdetail-quantity="{{ posdetail.quantity }}"
                    data-product-id="{{ posdetail.product.id }}"
                    data-product-price="{{ posdetail.product.price }}"
                    data-product-discount-price="{{ posdetail.product.discount_price }}"
                  >
                    <img alt="{{ posdetail.product.name }}" src="{{ posdetail.product.image.url }}" width="60" height="60">
                    <div class="colinfo">
                      <a href="{% url 'product_detail' posdetail.product.id %}" class="name">{{ posdetail.product.name }}</a>
                      <div class="quantity">
                        <div class="quantitynum">
                          <i class="noselect">-</i>
                          <input autocomplete="off" type="number" min="1" max="50" class="qty" value="{{ posdetail.quantity }}">
                          <i class="noselect">+</i>
                        </div>
                        <a class="delete">Xóa</a>
                      </div>
                      <div class="npromotion"></div>
                    </div>
                    <div class="colmoney">
                      {% with discount_price=posdetail.product.discount_price %}
                        {% if discount_price %}
                          {% widthratio discount_price 1 posdetail.quantity as quantity_discount_price %}
                          <strong class="currency">{{ quantity_discount_price|floatformat:"g" }}đ</strong>
                          {% widthratio posdetail.product.price 1 posdetail.quantity as quantity_price %}
                          <span class="price-discount currency">{{ quantity_price|floatformat:"g" }}₫</span>
                        {% else %}
                          {% widthratio posdetail.product.price 1 posdetail.quantity as quantity_price %}
                          <strong class="currency">{{ quantity_price|floatformat:"g" }}đ</strong>
                        {% endif %}
                      {% endwith %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
              <div class="summary">
                <div class="row1">
                  <div class="col55">
                    <div class="cost">
                      <span>
                        Tiền hàng:
                      </span>
                      <label><b class="pos-total">{{ pos.total|default:0|floatformat:"g" }}₫</b></label>
                    </div>
                    <!-- <div class="cost">
                      <span>Phí giao hàng</span>
                      <label class="rightshiping"><span>15.000₫</span></label>
                    </div> -->
                    <!-- <div class="coupon-code">
                      <span>Áp dụng voucher</span>
                      <label><span>15.000₫</span></label>
                      <form action="" method="post">
                        <input type="text" name="coupon" id="" placeholder="Mã giảm giá">
                        <input type="submit" value="Áp dụng">
                      </form>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="summary">
            <div class="row1">
              <div class="col55">
                <div class="cost">
                  <span>Tổng tiền thanh toán:</span>
                  <label id="carttotal">
                    <b class="pos-total">{{ pos.total|default:0|floatformat:"g" }}₫</b>
                  </label>
                </div>
                <!-- <div class="bcusrank">Miễn phí giao với đơn hàng từ 300.000đ trở lên</div>
                <div class="btn-userapply">
                  <button class="couponlink"><i class="icon-use-voucher"></i> Dùng phiếu mua hàng</button>
                </div> -->
              </div>
            </div>
            <div class="btn-order">
              {% if pos %}
                <a href="{% url 'checkout' pos.id %}" class="btn-og btn-step">ĐẶT HÀNG</a>
              {% else %}
                <a href="{% url 'login' %}" class="btn-og btn-step">ĐĂNG NHẬP ĐỂ ĐẶT HÀNG</a>
              {% endif %}
              <div class="clearall"><button>XÓA GIỎ HÀNG</button></div>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}