{% extends "store/base/base_cart.html" %}

{% block footer %}{% endblock %}

{% block content %}
<br /><br /><br /><br /><br />
<div id="checkout" class="checkout-wrap">
  <div class="container">
    <div class="checkout-content">
      <form method="post" action="{% url 'checkout' shopping_cart.id %}">
        {% csrf_token %}
        <div class="cart-block">
          <div class="p-gender">Giỏ hàng của bạn</div>
          <div class="block">
            {% if shopping_cart %}
            <div class="cart">
              <div class="heading">
                Trạng thái: {{ shopping_cart.orderdeliver.get_status_display }} - Ngày tạo: {{ shopping_cart.created_date|date:"D d M Y" }}
              </div>
              <table>
                <thead>
                  <tr>
                    <th>Đơn hàng #1</th>
                    <th>Sản phẩm</th>
                    <th>Tổng tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ shopping_cart.id }}</td>
                    <td>
                      <ul>
                        {% for orderdetail in shopping_cart.orderdetail_set.all %}
                        <li>
                          <a href="{% url 'product_detail' orderdetail.product.id %}">{{ orderdetail.product.name }}</a>
                          <span>(x{{ orderdetail.quantity }})</span>
                        </li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>{{ shopping_cart.amount_sub_total|floatformat:"g" }}đ</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
          <div class="block" style="padding: 10px">
            <table style="width: 100%; text-align: right;">
              <tr>
                <td>
                  <div class="coupon-form">
                    {{ coupon_form.as_p }}
                    <span id="apply-coupon" class="button">Áp dụng</span>
                  </div>
                </td>
                <td>Áp dụng giảm giá: <span class="amount_discount">{{ shopping_cart.amount_discount|floatformat:"g" }}đ</span>
                </td>
                <td>Tổng đơn: <span class="amount_total">{{ shopping_cart.amount_total|floatformat:"g" }}đ</span></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- Program -->
        {% comment %}
        <br />
        <div class="cart-block">
          <div class="p-gender">Chương trình khuyến mãi</div>
          <div class="block">
            <div class="coupon-program-list">
              {% for coupon_program in coupon_programs %}
              <div class="coupon-program-item">
                <div class="name">{{ coupon_program.name }}</div>
                <span class="apply-coupon-program" data-coupon-program-id="{{ coupon_program.id }}">Áp dụng</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endcomment %}
        <!-- Shipping -->
        <br />
        <div class="cart-block">
          <div class="p-gender">Thông tin giao hàng</div>
          <div class="block">
            <div class="card-list">
              {% for shipping_address in shipping_addresses %}
                <div class="card-item">
                  <div class="name">
                    <span class="address-data">{{ shipping_address.address }}</span>,
                    <span class="award-data">{{ shipping_address.award }}</span>,
                    <span class="district-data">{{ shipping_address.district }}</span>,
                    <span class="city-data">{{ shipping_address.city }}</span>
                  </div>
                  <span class="apply-card apply-shipping-address" data-shipping-address-id="{{ shipping_address.id }}">Áp dụng</span>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="block">
            <div class="shipping">
              {{ shipping_form.as_p }}
            </div>
          </div>
        </div>
        <!-- Submit -->
        <br />
        <button>Xác nhận đặt hàng</button>
        <br />
        <br />
        <br />
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#apply-coupon').on('click', function () {
      const couponValue = $('#id_code').val()
      SERVICES.getCoupon({
        data: { 'code': couponValue },
        success: function (result) {
          if (result.success) {
            // Synchronize with shopping cart
            let total = parseFloat("{{ shopping_cart.amount_total }}")
            let amount_discount = result.discount_type === 'fixed' ? result.discount : result.discount / 100.0 * total
            let amount_total = total - amount_discount
            $('.amount_discount').html(amount_discount.toLocaleString() + 'đ')
            $('.amount_total').html(amount_total.toLocaleString() + 'đ')
          } else {
            alert(result.messages)
          }
        }
      })
    })

    $('.apply-coupon-program').on('click', function () {
      const couponProgramId = $(this).data('coupon-program-id')
      $('#id_coupon_program_id').val(couponProgramId)
      $('.coupon-program-item').removeClass('active')
      $(this).parent('.coupon-program-item').addClass('active')
    })

    $('.apply-shipping-address').on('click', function () {
      const addressId = $(this).data('shipping-address-id')
      const $cartItem = $(this).parent('.card-item')

      let is_active = $cartItem.hasClass('active')
      $('.card-item').removeClass('active')
      if (!is_active) {
        $cartItem.addClass('active')
        $('#address-id').val(addressId)
      } else {
        $('#address-id').val('')
      }

      $('#id_address').val($cartItem.find('.address-data').html())
      $('#id_award').val($cartItem.find('.award-data').html())
      $('#id_district').val($cartItem.find('.district-data').html())
      $('#id_city').val($cartItem.find('.city-data').html())
    })
  })
</script>
{% endblock %}