{% extends "store/base/base_cart.html" %}

{% block footer %}{% endblock %}

{% block content %}
<br/><br/><br/><br/>
<div class="cart-list">
  {% for order in orders %}
  <div class="cart">
    <div class="heading">
      Trạng thái: {{ order.get_status_display }} - Ngày tạo: {{ order.created_date|date:"D d M Y" }}
    </div>
    <table>
      <thead>
        <tr>
          <th>Đơn hàng #1</th>
          <th>Sản phẩm</th>
          <th>Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.id }}</td>
          <td>
            <ul>
              {% for orderdetail in order.orderdetail_set.all %}
                <li>
                  <a href="{% url 'product_detail' orderdetail.product.id %}">{{ orderdetail.product.name }}</a>
                  <span>(x{{ orderdetail.quantity }})</span>
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ order.amount_total|floatformat:"g" }}đ</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
{% endblock %}