{% extends "store/base/base_cart.html" %}

{% block footer %}{% endblock %}

{% block content %}
<div id="cart" class="cart-wrap">
  <div class="">
    <div class="cart-content">
      <div id="block1" class="">
        <div class="p-gender">
          Giỏ hàng của bạn
        </div>

        <div class="block">
          {% if shopping_cart %}
          <div class="lst-product onlyone">
            <div class="cart-list lstproductbuy lstproductoff">
              {% if shopping_cart.orderdetails %}
              {% for orderdetail in shopping_cart.orderdetails.all %}
              <div class="cart-item item" data-orderdetail-id="{{ orderdetail.id }}"
                data-orderdetail-quantity="{{ orderdetail.quantity }}" data-product-id="{{ orderdetail.product.id }}"
                data-product-price="{{ orderdetail.product.price }}"
                data-product-discount-price="{{ orderdetail.product.sub_price }}">
                <img alt="{{ orderdetail.product.name }}" src="{{ orderdetail.product.image.url }}" width="60"
                  height="60">
                <div class="colinfo">
                  <a href="{% url 'product_detail' orderdetail.product.slug %}" class="name">
                    {{ orderdetail.product.name }}
                  </a>
                  <div class="quantity">
                    <div class="quantitynum">
                      <i class="noselect">-</i>
                      <input autocomplete="off" type="number" min="1" max="50" class="qty"
                        value="{{ orderdetail.quantity }}">
                      <i class="noselect">+</i>
                    </div>
                    <a class="delete">Xóa</a>
                  </div>
                  <div class="npromotion"></div>
                </div>
                <div class="colmoney">
                  {% with sub_price_unit=orderdetail.sub_price_unit %}
                  {% if sub_price_unit %}
                  {% widthratio sub_price_unit 1 orderdetail.quantity as quantity_sub_price_unit %}
                  <strong class="currency">{{ quantity_sub_price_unit|floatformat:"g" }}đ</strong>
                  {% widthratio orderdetail.price_unit 1 orderdetail.quantity as quantity_price %}
                  <span class="price-discount currency">{{ quantity_price|floatformat:"g" }}₫</span>
                  {% else %}
                  {% widthratio orderdetail.price_unit 1 orderdetail.quantity as quantity_price %}
                  <strong class="currency">{{ quantity_price|floatformat:"g" }}đ</strong>
                  {% endif %}
                  {% endwith %}
                </div>
              </div>
              {% endfor %}
              {% endif %}
              <div class="summary">
                <div class="row1">
                  <div class="col55">
                    <div class="cost">
                      <span>
                        Thành tiền:
                      </span>
                      <label>
                        <b class="cart-amount-price">
                          {{ shopping_cart.amount_price|default:0|floatformat:"g" }}₫
                        </b>
                      </label>
                    </div>
                    <div class="cost">
                      <span>
                        Chiết khấu:
                      </span>
                      <label>
                        <b class="cart-amount-discount-total">
                          {{ shopping_cart.amount_discount_total|default:0|floatformat:"g" }}₫
                        </b>
                      </label>
                    </div>
                    <div class="cost">
                      <span>
                        Tổng tiền:
                      </span>
                      <label>
                        <b class="cart-amount-sub-total">
                          {{ shopping_cart.amount_sub_total|default:0|floatformat:"g" }}₫
                        </b>
                      </label>
                    </div>
                    <!-- <div class="cost">
                      <span>Phí giao hàng</span>
                      <label class="rightshiping"><span>15.000₫</span></label>
                    </div> -->
                    <!-- <div class="coupon-code">
                      <span>Áp dụng voucher</span>
                      <label><span>15.000₫</span></label>
                      <form action="" method="post">
                        <input type="text" name="coupon" id="" placeholder="Mã giảm giá">
                        <input type="submit" value="Áp dụng">
                      </form>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="summary">
            <div class="row1">
              <div class="col55">
                <div class="cost">
                  <span>Tổng tiền thanh toán:</span>
                  <label id="carttotal">
                    <b class="cart-amount-total">{{ shopping_cart.amount_total|default:0|floatformat:"g" }}₫</b>
                  </label>
                </div>
                <!-- <div class="bcusrank">Miễn phí giao với đơn hàng từ 300.000đ trở lên</div>
                <div class="btn-userapply">
                  <button class="couponlink"><i class="icon-use-voucher"></i> Dùng phiếu mua hàng</button>
                </div> -->
              </div>
            </div>
            <div class="btn-order">
              {% if request.partner %}
              <a href="{% url 'checkout' shopping_cart.id %}" class="btn-og btn-step">ĐẶT HÀNG</a>
              {% else %}
              <a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}" class="btn-og btn-step">ĐĂNG NHẬP ĐỂ
                ĐẶT HÀNG</a>
              {% endif %}
              <div class="clearall"><button>XÓA GIỎ HÀNG</button></div>
            </div>
          </div>
          <div class="clr"></div>
          {% else %}
          <p>Chưa có sản phẩm nào</p>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}