{% extends 'base/base.html' %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
<script>
  const USER_LOGGED_IN = "{{ request.partner }}"
  const IS_LOGGED_IN = USER_LOGGED_IN !== 'None'
</script>
{% endblock head %}

{% block body %}
{% block header %}{% include "store/shared/header.html" %}{% endblock %}

{% block wrapper %}
{% block sidebar %}{% include "store/shared/sidebar.html" %}{% endblock %}
<!-- Main content -->
{% block content %}{% endblock %}
{% endblock %}

{% block footer %}{% include "store/shared/footer.html" %}{% endblock %}

{% if request.partner == None %}
<script src="{% static 'store/js/cart.js' %}"></script>
{% else %}
<script src="{% static 'store/js/cart-authenticated.js' %}"></script>
{% endif %}
<script src="{% static 'store/js/main.js' %}"></script>
{% endblock body %}
