{% load widget_tweaks %}
{% load static %}
{% load sale_custom_tags %}

<div class="couponprogram-form">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ couponprogram_form.name.label }}</th>
                <th>{{ couponprogram_form.start_date.label }}</th>
                <th>{{ couponprogram_form.expired_date.label }}</th>
                <th>{{ couponprogram_form.discount_type.label }}</th>
                <th>{{ couponprogram_form.discount.label }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ couponprogram_form.name|add_class:'form-control' }}</td>
                <td>{{ couponprogram_form.start_date|add_class:'form-control' }}</td>
                <td>{{ couponprogram_form.expired_date|add_class:'form-control' }}</td>
                <td>{{ couponprogram_form.discount_type|add_class:'form-control' }}</td>
                <td>{{ couponprogram_form.discount|add_class:'form-control' }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ couponprogram_form.products.label }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ couponprogram_form.products|add_class:'form-control' }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#couponForm">Tạo coupon</button>

    <!-- Modal -->
    <div class="modal fade" id="couponForm" tabindex="-1" aria-labelledby="couponFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="couponFormLabel">Quản lý coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="number" name="total-coupon" class="form-control" id="total-coupon" placeholder="Nhập số lượng coupon">
                        <label for="total-coupon">Nhập số lượng coupon</label>
                    </div>
                    <div class="formset">
                        {{ inlines.management_form }}
                        <div id="formset" class="formset-inlines coupon-formset">
                            {% for inline in inlines %}
                                {% include 'sale/couponprogram/inline-coupon-form.html' with form=inline %}
                            {% endfor %}
                        </div>
                        <div class="formset-empty" id="empty-form" style="display:none">
                            {% include 'sale/couponprogram/inline-coupon-form.html' with form=inlines.empty_form %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="33.33%">{{ couponprogram_form.rule_product.label }}</th>
                <th width="33.33%">{{ couponprogram_form.rule_customer.label }}</th>
                <th width="33.33%">{{ couponprogram_form.rule_order.label }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ couponprogram_form.rule_product|add_class:'form-control'|attr:'readonly:true' }}
                    {% with couponprogram_form.rule_product.value|json_loads as rule_product_json %}
                      {% include 'sale/couponprogram/product-rules.html' with data=rule_product_json %}
                    {% endwith %}
                </td>
                <td>
                    {{ couponprogram_form.rule_customer|add_class:'form-control'|attr:'readonly:true' }}
                    {% with couponprogram_form.rule_customer.value|json_loads as rule_customer_json %}
                      {% include 'sale/couponprogram/customer-rules.html' with data=rule_customer_json %}
                    {% endwith %}
                </td>
                <td>
                    {{ couponprogram_form.rule_order|add_class:'form-control'|attr:'readonly:true' }}
                    {% with couponprogram_form.rule_order.value|json_loads as rule_order_json %}
                      {% include 'sale/couponprogram/order-rules.html' with data=rule_order_json %}
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{ couponprogram_form.rule_product.value|json_script:"product_rules" }}
{{ couponprogram_form.rule_customer.value|json_script:"customer_rules" }}
{{ couponprogram_form.rule_order.value|json_script:"order_rules" }}
<style>
  .multiple-select {
    height: 200px;
  }
  .remove_rule_item {
    right: -12px;
  }
</style>
<script src="{% static 'sale/js/couponprogram-form.js' %}"></script>
