{% load widget_tweaks %}
{% load static %}
<div class="couponprogram-form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ couponprogram_form.name.label }}</th>
        <th>{{ couponprogram_form.start_date.label }}</th>
        <th>{{ couponprogram_form.expired_date.label }}</th>
        <th>{{ couponprogram_form.discount_type.label }}</th>
        <th>{{ couponprogram_form.discount.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ couponprogram_form.name|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.start_date|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.expired_date|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.discount_type|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.discount|add_class:'form-control' }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20%;">{{ couponprogram_form.products.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ couponprogram_form.products|add_class:'form-control' }}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 33.33%;">{{ couponprogram_form.rule_product.label }}</th>
        <th style="width: 33.33%;">{{ couponprogram_form.rule_customer.label }}</th>
        <th style="width: 33.33%;">{{ couponprogram_form.rule_order.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ couponprogram_form.rule_product|add_class:'form-control'|attr:'readonly:true' }}
          {% include 'sale/couponprogram/product-rules.html' %}
        </td>
        <td>
          {{ couponprogram_form.rule_customer|add_class:'form-control'|attr:'readonly:true' }}
          {% include 'sale/couponprogram/customer-rules.html' %}
        </td>
        <td>
          {{ couponprogram_form.rule_order|add_class:'form-control'|attr:'readonly:true' }}
          {% include 'sale/couponprogram/order-rules.html' %}
        </td>
      </tr>
    </tbody>
  </table>

</div>

{{ product_rules|json_script:"product_rules" }}
{{ customer_rules|json_script:"customer_rules" }}
{{ order_rules|json_script:"order_rules" }}

<style>
  .multiple-select {
    height: 200px;
  }
</style>

<script src="{% static 'sale/js/couponprogram-form.js' %}"></script>