{% load widget_tweaks %}
{% load static %}
{% load sale_custom_tags %}

<div class="couponprogram-form">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>{{ couponprogram_form.name.label }}</th>
                <th>{{ couponprogram_form.start_date.label }}</th>
                <th>{{ couponprogram_form.expired_date.label }}</th>
                <td>Trạng thái</td>
                <td>Mã giảm giá</td>
                <td>Doanh thu</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ couponprogram_form.name|add_class:'form-control' }}</td>
                <td>{{ couponprogram_form.start_date|add_class:'form-control' }}</td>
                <td>{{ couponprogram_form.expired_date|add_class:'form-control' }}</td>
                <td>{% if couponprogram_form.instance.is_available %}Đang hoạt động{% else %}Không hoạt động{% endif %}</td>
                <td>
                    {{ inlines.total_form_count }}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#couponList">Chi tiết</a>
                </td>
                <td>0đ</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <div>
            <h2>Cài đặt điều kiện</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ couponprogram_form.rule_product.label }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ couponprogram_form.rule_product|add_class:'form-control'|attr:'readonly:true' }}
                            {% with couponprogram_form.rule_product.value|json_loads as rule_product_json %}
                                {% include 'sale/couponprogram/product-rules.html' with data=rule_product_json %}
                            {% endwith %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>Loại khuyến mãi</h2>
            <table class="tabs table table-borderless align-top">
                <tr>
                    <td>
                        {{ couponprogram_form.reward_type.label }}
                        {{ couponprogram_form.reward_type|add_class:'form-select tab-label' }}
                    </td>
                    <td>
                        <div>
                            <table class="tab-content discount align-top" {% if couponprogram_form.reward_type.value != 'discount' %}style="display:none;"{% endif %}>
                                <tr>
                                    <td>{{ couponprogram_form.discount.label }}</td>
                                    <td>
                                        <div class="d-flex">
                                            {{ couponprogram_form.discount_type|add_class:'form-select' }}
                                            {{ couponprogram_form.discount|add_class:'form-control' }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ couponprogram_form.discount_apply_on_type.label }}</td>
                                    <td>{{ couponprogram_form.discount_apply_on_type|add_class:'form-select' }}</td>
                                </tr>
                                <tr>
                                    <td>{{ couponprogram_form.discount_max_amount.label }}</td>
                                    <td>{{ couponprogram_form.discount_max_amount|add_class:'form-control' }}</td>
                                </tr>
                            </table>
                
                            <table class="tab-content free_product align-top" {% if couponprogram_form.reward_type.value != 'free_product' %}style="display:none;"{% endif %}>
                                <tr>
                                    <td>{{ couponprogram_form.free_product.label }}</td>
                                    <td>{{ couponprogram_form.free_product|add_class:'form-control' }}</td>
                                </tr>
                                <tr>
                                    <td>{{ couponprogram_form.free_product_total.label }}</td>
                                    <td>{{ couponprogram_form.free_product_total|add_class:'form-control' }}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="couponList" tabindex="-1" aria-labelledby="couponListLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponListLabel">Danh sách mã giảm giá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <td>#</td>
                        <td>Mã</td>
                        <td>Khách hàng</td>
                        <td>Đơn hàng</td>
                        <td>Ngày bắt đầu</td>
                        <td>Ngày kết thúc</td>
                        <td>Trạng thái</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for coupon in couponprogram_form.instance.coupons.all %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ coupon.code }}</td>
                        <td>{{ coupon.customer }}</td>
                        <td>{{ coupon.order }}</td>
                        <td>{{ coupon.start_date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ coupon.expired_date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ coupon.is_available|yesno:'Đang hoạt động,Ngừng hoạt động' }}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="7">Chưa có mã giảm giá</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{{ couponprogram_form.rule_product.value|json_script:"product_rules" }}
{{ couponprogram_form.rule_customer.value|json_script:"customer_rules" }}
{{ couponprogram_form.rule_order.value|json_script:"order_rules" }}
<style>
  .remove_rule_item {
    right: -12px;
  }
</style>
<script src="{% static 'sale/js/couponprogram-form.js' %}"></script>
