{% load widget_tweaks %}
<div class="accordion" id="accordion_rule_customer">
    {% include "sale/couponprogram/rule-condition.html" with model="customer" condition=data.extra.condition %}
    <div class="list-group mt-2">
        {% include "sale/couponprogram/rule-item.html" with data=data.fields.full_name condition=data.fields.full_name.extra.condition model="customer" field="full_name" rule_title="Cài đặt tên" placeholder="Nhập giá trị" rule_widget="text" show="show" result=rule_customer_mapping_result.fields.full_name.result|default:None %}
        {% include "sale/couponprogram/rule-item.html" with data=data.fields.dob condition=data.fields.dob.extra.condition model="customer" field="dob" rule_title="Cài đặt ngày sinh" placeholder="Chọn ngày sinh" rule_widget="date" result=rule_customer_mapping_result.fields.dob.result|default:None %}
        {% include "sale/couponprogram/rule-item.html" with data=data.fields.email condition=data.fields.email.extra.condition model="customer" field="email" rule_title="Cài đặt email" placeholder="Nhập giá trị" rule_widget="text" result=rule_customer_mapping_result.fields.email.result|default:None %}
        {% include "sale/couponprogram/rule-item.html" with data=data.fields.phone condition=data.fields.phone.extra.condition model="customer" field="phone" rule_title="Cài đặt số điện thoại" placeholder="Nhập giá trị" rule_widget="text" result=rule_customer_mapping_result.fields.phone.result|default:None %}
    </div>
</div>
