{% load widget_tweaks %}
<div class="accordion" id="accordion_rule_order">
    {% include "sale/couponprogram/rule-condition.html" with model="order" condition=data.extra.condition %}
    <div class="list-group mt-2">
        {% include "sale/couponprogram/rule-item.html" with data=data.fields.amount_total model="order" field="amount_total" rule_title="Cài đặt tổng tiền" placeholder="Nhập giá trị" rule_widget="number" show="show" result=rule_order_mapping_result.fields.amount_total.result|default:None %}
        {% include "sale/couponprogram/rule-item.html" with data=data.fields.shipping_address model="order" field="shipping_address" rule_title="Cài đặt khu vực giao hàng" placeholder="Chọn khu vực" rule_widget="select" result=rule_order_mapping_result.fields.shipping_address.result|default:None %}
    </div>
</div>
