{% load sale_custom_tags %}
<div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center list-group-item-action"
     aria-current="true">
    <span class="d-flex flex-grow-1">
        <input class="form-check-input me-1 rule-widget apply-checkbox"
               type="checkbox"
               name="enable_rule_{{ model }}_{{ field }}"
               data-model="{{ model }}"
               data-field="{{ field }}"
               data-operator="checked"
               {% if 'checked' in data %}checked="checked"{% endif %}/>
        <span class="flex-grow-1"
              data-bs-toggle="collapse"
              data-bs-target="#by_{{ model }}_{{ field }}"
              aria-expanded="true"
              aria-controls="by_{{ model }}_{{ field }}">
            {{ rule_title }}
        </span>
    </span>
    <span class="badge bg-primary rounded-pill">{{ result.count|default:0 }}</span>
</div>
<div id="by_{{ model }}_{{ field }}"
     class="accordion-collapse collapse {{ show }} {{ model }}_domain_rule"
     data-bs-parent="#accordion_rule_{{ model }}">
    {% include "sale/couponprogram/rule-condition.html" with model=model field=field %}
    <div class="rule_item py-2">
        {% if rule_widget == 'list' %}
            {% for lookup,value in data.items %}
                {% if lookup != 'checked' %}
                    {% include 'sale/couponprogram/rule-list.html' with model=model field=field operator=operator placeholder=placeholder value=value lookup=lookup list_data=list_data %}
                {% endif %}
            {% empty %}
                {% include 'sale/couponprogram/rule-list.html' with model=model field=field operator=operator placeholder=placeholder value=value list_data=list_data %}
            {% endfor %}
        {% elif rule_widget == 'text' %}
            {% for lookup,value in data.items %}
                {% if lookup != 'checked' %}
                    {% include 'sale/couponprogram/rule-text.html' with model=model field=field operator=operator placeholder=placeholder value=value lookup=lookup %}
                {% endif %}
            {% empty %}
                {% include 'sale/couponprogram/rule-text.html' with model=model field=field operator=operator placeholder=placeholder value=value %}
            {% endfor %}
        {% elif rule_widget == 'number' %}
            {% for lookup,value in data.items %}
                {% if lookup != 'checked' %}
                    {% include 'sale/couponprogram/rule-number.html' with model=model field=field operator=operator placeholder=placeholder value=value lookup=lookup %}
                {% endif %}
            {% empty %}
                {% include 'sale/couponprogram/rule-number.html' with model=model field=field operator=operator placeholder=placeholder value=value %}
            {% endfor %}
        {% elif rule_widget == 'date' %}
            {% for lookup,value in data.items %}
                {% if lookup != 'checked' %}
                    {% include 'sale/couponprogram/rule-date.html' with model=model field=field operator=operator placeholder=placeholder value=value lookup=lookup %}
                {% endif %}
            {% empty %}
                {% include 'sale/couponprogram/rule-date.html' with model=model field=field operator=operator placeholder=placeholder value=value %}
            {% endfor %}
        {% endif %}
    </div>
</div>
