{% extends 'base/base.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'sale_index' %}">Sale Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'order_list' %}">Đơn hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_list' %}">Khuyến mãi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Khách hàng</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Thống kê</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown09">
            <li><a class="dropdown-item" href="#">Doanh thu</a></li>
            <li><a class="dropdown-item" href="#">Mi heo</a></li>
            <li><a class="dropdown-item" href="#">Mi lun</a></li>
          </ul>
        </li>
      </ul>
      <form>
        <input class="form-control" type="text" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  {% block content %}{% endblock content %}
</div>

<script>
  $(document).ready(function () {
    const $formSet = document.querySelector('#formset')
    const $addAnotherButton = document.querySelector('#add-more')

    if ($addAnotherButton) {
      $addAnotherButton.addEventListener('click', function (event) {
        const $totalForms = document.querySelector('[name$=TOTAL_FORMS]')
        const totalForms = parseInt($totalForms.value)
        const $emptyForm = document.querySelector('#empty-form .order-detail-form')
        const $newForm = $emptyForm.cloneNode(true)
  
        const newTotalForms = totalForms
        const matchValue = '__prefix__'
        const match = new RegExp(matchValue, 'g')
        const replace = newTotalForms.toString()
  
        attrs = ['name', 'id', 'for', 'class']
        attrs.forEach(function (attr) {
          $newForm.querySelectorAll('[' + attr + '*=' + matchValue + ']').forEach(function (el) {
            el.setAttribute(attr, el.getAttribute(attr).replace(match, replace))
          })
        })
  
        $newForm.innerHTML = $newForm.innerHTML.replace(match, replace)
  
        $totalForms.setAttribute('value', newTotalForms + 1)
        $formSet.append($newForm)
  
        /*
        $($newForm).find('.search_input_widget_agent').each(function () {
          const idPattern = $(this)[0].id
          console.log($(this)[0].id)
          const idPatternNameRegexp = /(^id_.+)_search_input_widget_agent/g
          const matchs = idPatternNameRegexp.exec(idPattern);
        })
        */
      })
    }

    $(document).on('change', '[name$=product]', function (e, product) {
      const productId = $(this).val()
      const $orderdetail = $(this).parents('.order-detail-form')

      quantity = parseInt($orderdetail.find('[name$=quantity]').val())

      if (product) {
        $orderdetail.find('[name$=price_unit]').val(product.price)
        $orderdetail.find('[name$=sub_price_unit]').val(product.sub_price)
        $orderdetail.find('[name$=price_discount]').val(product.price_discount * quantity)
        $orderdetail.find('[name$=amount_price]').val(product.price * quantity)
        $orderdetail.find('[name$=sub_total]').val(product.price * quantity - product.price_discount * quantity)
      } else {
        $orderdetail.find('[name$=price_unit]').val('')
        $orderdetail.find('[name$=sub_price_unit]').val('')
        $orderdetail.find('[name$=price_discount]').val('')
        $orderdetail.find('[name$=amount_price]').val('')
        $orderdetail.find('[name$=sub_total]').val('')
      }

      /*
      SERVICES.getProduct({
        data: { product_id: productId },
        success: function (result) {
          if (result.success) {
            product = result.product
            quantity = parseInt($orderdetail.find('[name$=quantity]').val())

            $orderdetail.find('[name$=price_unit]').val(product.price)
            $orderdetail.find('[name$=sub_price_unit]').val(product.sub_price)
            $orderdetail.find('[name$=price_discount]').val(product.price_discount * quantity)
            $orderdetail.find('[name$=amount_price]').val(product.price * quantity)
            $orderdetail.find('[name$=sub_total]').val(product.price * quantity - product.price_discount * quantity)
          } else {
            alert(result.messages)
          }
        }
      })
      */
    })

    $(document).on('change', 'input[name$=quantity]', function () {
      const quantity = parseInt($(this).val())
      const $orderdetail = $(this).parents('.order-detail-form')

      productPrice = parseInt($orderdetail.find('[name$=price_unit]').val())
      productSubPrice = parseInt($orderdetail.find('[name$=sub_price_unit]').val())
      productPriceDiscount = productPrice - productSubPrice

      $orderdetail.find('[name$=price_unit]').val(productPrice)
      $orderdetail.find('[name$=sub_price_unit]').val(productSubPrice)
      $orderdetail.find('[name$=price_discount]').val(productPriceDiscount * quantity)
      $orderdetail.find('[name$=amount_price]').val(productPrice * quantity)
      $orderdetail.find('[name$=sub_total]').val(productPrice * quantity - productPriceDiscount * quantity)
    })

  })
</script>
{% endblock body %}