{% load widget_tweaks %}
<div class="couponprogram-form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ couponprogram_form.name.label }}</th>
        <th>{{ couponprogram_form.start_date.label }}</th>
        <th>{{ couponprogram_form.expired_date.label }}</th>
        <th>{{ couponprogram_form.discount_type.label }}</th>
        <th>{{ couponprogram_form.discount.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ couponprogram_form.name|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.start_date|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.expired_date|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.discount_type|add_class:'form-control' }}</td>
        <td>{{ couponprogram_form.discount|add_class:'form-control' }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20%;">{{ couponprogram_form.rule_product.label }}</th>
        <th style="width: 20%;">Cài đặt sản phẩm</th>
        <th style="width: 20%;">{{ couponprogram_form.rule_customer.label }}</th>
        <th style="width: 20%;">Cài đặt khách hàng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ couponprogram_form.rule_product|add_class:'form-control'|attr:'readonly:true' }}
          {% include 'sale/product-rule-menu.html' %}
        </td>
        <td>{% include 'sale/product-rule-item.html' %}</td>
        <td>
          {{ couponprogram_form.rule_customer|add_class:'form-control'|attr:'readonly:true' }}
          {% include 'sale/customer-rule-menu.html' %}
        </td>
        <td>{% include 'sale/customer-rule-item.html' %}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20%;">{{ couponprogram_form.rule_order.label }}</th>
        <th style="width: 20%;">Cài đặt đơn hàng</th>
        <th style="width: 20%;">{{ couponprogram_form.products.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ couponprogram_form.rule_order|add_class:'form-control'|attr:'readonly:true' }}
          {% include 'sale/order-rule-menu.html' %}
        </td>
        <td>{% include 'sale/order-rule-item.html' %}</td>
        <td>
          {{ couponprogram_form.products|add_class:'form-control' }}
        </td>
      </tr>
    </tbody>
  </table>

</div>

{{ product_rules|json_script:"product_rules" }}
{{ customer_rules|json_script:"customer_rules" }}

<script>
  $(function () {
    const $ruleProduct = $('#id_rule_product')
    const $ruleCustomer = $('#id_rule_customer')

    const updateProductRules = function (rules) {
      if (rules.category) {
        $('[name=rule_product_category_value]').val(rules.category.in).change()
        if (rules.category.checked === 'on') {
          $('[name=enable_rule_product_category]').prop('checked', true)
        }
      }

      if (rules.name) {
        let rule_product_name_operator = Object.keys(rules.name)[0]
        $('[name=rule_product_name_operator').val(rule_product_name_operator).change()
        console.log(rules.name, rule_product_name_operator)
        $('[name=rule_product_name_value]').val(rules.name[rule_product_name_operator])
        if (rules.name.checked === 'on') {
          $('[name=enable_rule_product_name]').prop('checked', true)
        }
      }

      if (rules.price) {
        let rule_product_price_operator = Object.keys(rules.price)[0]
        $('[name=rule_product_price_operator').val(rule_product_price_operator).change()
        console.log(rules.price, rule_product_price_operator)
        $('[name=rule_product_price_value]').val(rules.price[rule_product_price_operator])
        if (rules.price.checked === 'on') {
          $('[name=enable_rule_product_price]').prop('checked', true)
        }
      }
    }

    let product_rules = JSON.parse(document.getElementById('product_rules').textContent)

    if (product_rules) {
      console.log('product_rules', product_rules)

      updateProductRules(product_rules)
    } else {
      product_rules = {}
    }


    const updateCustomertRules = function (rules) {
      if (rules.full_name) {
        let rule_customer_name_operator = Object.keys(rules.full_name)[0]
        $('[name=rule_customer_name_operator').val(rule_customer_name_operator).change()
        console.log(rules.full_name, rule_customer_name_operator)
        $('[name=rule_customer_name_value]').val(rules.full_name[rule_customer_name_operator])
        if (rules.full_name.checked === 'on') {
          $('[name=enable_customer_name]').prop('checked', true)
        }
      }

      if (rules.dob) {
        let rule_customer_dob_operator = Object.keys(rules.dob)[0]
        $('[name=rule_customer_dob_operator').val(rule_customer_dob_operator).change()
        console.log(rules.dob, rule_customer_dob_operator)
        $('[name=rule_customer_dob_value]').val(rules.dob[rule_customer_dob_operator])
        if (rules.dob.checked === 'on') {
          $('[name=enable_customer_dob]').prop('checked', true)
        }
      }

      if (rules.email) {
        let rule_customer_email_operator = Object.keys(rules.email)[0]
        $('[name=rule_customer_email_operator').val(rule_customer_email_operator).change()
        console.log(rules.email, rule_customer_email_operator)
        $('[name=rule_customer_email_value]').val(rules.email[rule_customer_email_operator])
        if (rules.email.checked === 'on') {
          $('[name=enable_customer_email]').prop('checked', true)
        }
      }

      if (rules.phone) {
        let rule_customer_phone_operator = Object.keys(rules.phone)[0]
        $('[name=rule_customer_phone_operator').val(rule_customer_phone_operator).change()
        console.log(rules.phone, rule_customer_phone_operator)
        $('[name=rule_customer_phone_value]').val(rules.phone[rule_customer_phone_operator])
        if (rules.phone.checked === 'on') {
          $('[name=enable_customer_phone]').prop('checked', true)
        }
      }
    }

    let customer_rules = JSON.parse(document.getElementById('customer_rules').textContent)
    if (customer_rules) {
      console.log('customer_rules', customer_rules)

      updateCustomertRules(customer_rules)
    } else {
      customer_rules = {}
    }

    $('.rule-widget').on('change', function () {
      console.log($(this), $(this).val())
      const model = $(this).data('model')
      const field = $(this).data('field')
      let operator = $(this).data('operator')
      let value = $(this).val()
      let operatorSource = $(this).data('operator-source')
      let valueSource = $(this).data('value-source')

      if (valueSource) {
        operator = $(this).val()
        value = $(`[name=${valueSource}]`).val()
      } else if (operatorSource) {
        operator = $(`[name=${operatorSource}]`).val()
        value = $(this).val()
      }

      $menuParent = $(this).parents('.list-group')
      $itemParent = $(this).parents('.accordion')

      let isChecked = $(this).is(':checked')

      if ($(this).hasClass('apply-checkbox') && $menuParent.length) {
        let menuParentId = $($menuParent[0]).parent()[0].id
        console.log('--menu--', $menuParent[0], $($menuParent[0]).parent(), menuParentId)
        if (menuParentId === 'product_domain_rules') {
          product_rules[field][operator] = value
          if (!isChecked) {
            delete product_rules[field][operator]
          }
          $ruleProduct.val(JSON.stringify(product_rules))
        } else if (menuParentId === 'customer_domain_rules') {
          customer_rules[field][operator] = value
          if (!isChecked) {
            delete customer_rules[field][operator]
          }
          $ruleCustomer.val(JSON.stringify(customer_rules))
        } else if (menuParentId === 'order_domain_rules') {

        }
      } else if ($itemParent.length) {
        const ruleId = $itemParent[0].id
        console.log('ruleId', ruleId)
        if (ruleId == 'accordion_rule_product') {
          product_rules[field] = {}
          product_rules[field][operator] = value
          $ruleProduct.val(JSON.stringify(product_rules))
        } else if (ruleId == 'accordion_rule_customer') {
          customer_rules[field] = {}
          customer_rules[field][operator] = value
          $ruleCustomer.val(JSON.stringify(customer_rules))
        } else if (ruleId == 'accordion_rule_order') {
          
        }
      }

      /*
      const ruleId = $(this).parents('.accordion')[0].id
      console.log('ruleId', ruleId)
      if (ruleId == 'accordion_rule_product') {
        product_rules[field] = {}
        product_rules[field][operator] = value

        $ruleProduct.val(JSON.stringify(product_rules))

        console.log('product_rules', product_rules)
      } else if (ruleId == 'accordion_rule_customer') {
        customer_rules[field] = {}
        customer_rules[field][operator] = value

        $ruleCustomer.val(JSON.stringify(customer_rules))

        console.log('customer_rules', customer_rules)
      }
      */


    })
  })
</script>