<div id="customer_domain_rules">
  <ul class="list-group">
    <!-- <li class="accordion-header list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1" type="checkbox" name="enable_customer_type" />
        <span data-bs-toggle="collapse" data-bs-target="#by_customer_type" aria-expanded="true"
          aria-controls="by_customer_type">
          Theo loại khách hàng
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">14</span>
    </li> -->
    <li class="accordion-header list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_customer_name" data-model="customer" data-field="full_name" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_customer_name" aria-expanded="true"
          aria-controls="by_customer_name">
          Theo tên khách hàng
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ customer_rule_customers.full_name.count }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_customer_dob" data-model="customer" data-field="dob" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_customer_dob" aria-expanded="true"
          aria-controls="by_customer_dob">
          Theo ngày sinh
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ customer_rule_customers.dob.count }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_customer_email" data-model="customer" data-field="email" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_customer_email" aria-expanded="true"
          aria-controls="by_customer_email">
          Theo email
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ customer_rule_customers.email.count }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_customer_phone" data-model="customer" data-field="phone" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_customer_phone" aria-expanded="true"
          aria-controls="by_customer_phone">
          Theo số điện thoại
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ customer_rule_customers.phone.count }}</span>
    </li>
  </ul>
</div>