<div id="product_domain_rules">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
      data-bs-target="#by_customer_type" aria-expanded="false" aria-controls="by_customer_type">
      Theo loại khách hàng
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
      data-bs-target="#by_customer_name" aria-expanded="false" aria-controls="by_customer_name">
      Theo tên khách hàng
      <span class="badge bg-primary rounded-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
    data-bs-target="#by_customer_dob" aria-expanded="false" aria-controls="by_customer_dob">
      Theo ngày sinh
      <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
    data-bs-target="#by_customer_email" aria-expanded="false" aria-controls="by_customer_email">
      Theo email
      <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
    data-bs-target="#by_customer_phone" aria-expanded="false" aria-controls="by_customer_phone">
      Theo số điện thoại
      <span class="badge bg-primary rounded-pill">1</span>
    </li>
  </ul>
</div>