{% load widget_tweaks %}
<div class="accordion" id="accordion_rule_product">
  <!-- Rule product category -->
  <div id="by_product_category" class="accordion-collapse collapse show product_domain_rule"
    data-bs-parent="#accordion_rule_product">
    <h4>Thiếp lập dòng sản phẩm</h4>
    <div class="rule_item">
      <select name="rule_product_category_value" data-model="product" data-field="category" data-operator="in"
        class="multiple-select form-select rule-widget" multiple>
        {% for product_category in product_categories_abc %}

        {% comment %}
        {% if product_category.id in rules.product.category.in %}
        <option value="{{ product_category.id }}" selected>{{ product_category.name }}</option>
        {% else %}
        <option value="{{ product_category.id }}">{{ product_category.name }}</option>
        {% endif %}
        {% endcomment %}

        <option value="{{ product_category.id }}">{{ product_category.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Rule product name -->
  <div id="by_product_name" class="accordion-collapse collapse product_domain_rule"
    data-bs-parent="#accordion_rule_product">
    <h4>Thiếp lập tên sản phẩm</h4>
    <div class="rule_item">
      <select name="rule_product_name_operator" data-model="product" data-field="name"
        data-value-source="rule_product_name_value" class="form-select mb-2 rule-widget">
        <option>Chọn biểu thức</option>
        <option value="contains">Chứa ký tự</option>
        <option value="startswith">Bắt đầu bằng</option>
        <option value="endswith">Kết thúc bằng</option>
      </select>
      <input type="text" name="rule_product_name_value" data-model="product" data-field="name"
        data-operator-source="rule_product_name_operator" class="form-control rule-widget"
        placeholder="Nhập tên sản phẩm" />
    </div>
  </div>

  <!-- Rule product price -->
  <div id="by_product_price" class="accordion-collapse collapse product_domain_rule"
    data-bs-parent="#accordion_rule_product">
    <h4>Thiếp lập giá sản phẩm</h4>
    <div class="rule_item">
      <select name="rule_product_price_operator" data-model="product" data-field="price"
      data-value-source="rule_product_price_value" class="form-select mb-2 rule-widget">
        <option selected>Chọn biểu thức</option>
        <option value="gt">Lớn hơn</option>
        <option value="gte">Lớn hơn hoặc bằng</option>
        <option value="lt">Nhỏ hơn</option>
        <option value="lte">Nhỏ hơn hoặc bằng</option>
        <option value="range">Khoảng</option>
      </select>
      <input type="number" name="rule_product_price_value" data-model="product" data-field="price"
      data-operator-source="rule_product_price_operator" class="form-control rule-widget" />
    </div>
  </div>
</div>

<style>
  .multiple-select {
    height: 200px;
  }
</style>