<div id="product_domain_rules">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_rule_product_category" data-model="product" data-field="category" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_product_category" aria-expanded="true"
          aria-controls="by_product_category">
          Theo dòng sản phẩm
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ product_rule_products.category.count }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_rule_product_name" data-model="product" data-field="name" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_product_name" aria-expanded="true"
          aria-controls="by_product_name">
          Theo tên sản phẩm
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ product_rule_products.name.count }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="d-flex">
        <input class="form-check-input me-1 rule-widget apply-checkbox" type="checkbox" name="enable_rule_product_price" data-model="product" data-field="price" data-operator="checked"/>
        <span data-bs-toggle="collapse" data-bs-target="#by_product_price" aria-expanded="true"
          aria-controls="by_product_price">
          Theo giá sản phẩm
        </span>
      </span>
      <span class="badge bg-primary rounded-pill">{{ product_rule_products.price.count }}</span>
    </li>
  </ul>
</div>