{% extends 'base/base.html' %}

{% block body %}

<header>
  <ul style="list-style-type: none; padding-left: 0;">
    <li style="display: inline-block; margin-right: 10px;"><a href="{% url 'order_list' %}">DANH SÁCH ĐƠN HÀNG</a></li>
    <li style="display: inline-block; margin-right: 10px;"><a href="{% url 'program_list' %}">KHUYẾN MÃI</a></li>
  </ul>
</header>
<hr/>

{% block content %}{% endblock content %}

<script>
  $(document).ready(function () {
    const $formSet = document.querySelector('#formset')
    const $addAnotherButton = document.querySelector('#add-more')

    if ($addAnotherButton) {
      $addAnotherButton.addEventListener('click', function (event) {
        const $totalForms = document.querySelector('[name$=TOTAL_FORMS]')
        const totalForms = parseInt($totalForms.value)
        const $emptyForm = document.querySelector('#empty-form .order-detail-form')
        const $newForm = $emptyForm.cloneNode(true)
  
        const newTotalForms = totalForms
        const matchValue = '__prefix__'
        const match = new RegExp(matchValue, 'g')
        const replace = newTotalForms.toString()
  
        attrs = ['name', 'id', 'for', 'class']
        attrs.forEach(function (attr) {
          $newForm.querySelectorAll('[' + attr + '*=' + matchValue + ']').forEach(function (el) {
            el.setAttribute(attr, el.getAttribute(attr).replace(match, replace))
          })
        })
  
        $newForm.innerHTML = $newForm.innerHTML.replace(match, replace)
  
        $totalForms.setAttribute('value', newTotalForms + 1)
        $formSet.append($newForm)
  
        /*
        $($newForm).find('.search_input_widget_agent').each(function () {
          const idPattern = $(this)[0].id
          console.log($(this)[0].id)
          const idPatternNameRegexp = /(^id_.+)_search_input_widget_agent/g
          const matchs = idPatternNameRegexp.exec(idPattern);
        })
        */
      })
    }

    $(document).on('change', '[name$=product]', function (e, product) {
      const productId = $(this).val()
      const $orderdetail = $(this).parents('.order-detail-form')

      quantity = parseInt($orderdetail.find('[name$=quantity]').val())

      if (product) {
        $orderdetail.find('[name$=price_unit]').val(product.price)
        $orderdetail.find('[name$=sub_price_unit]').val(product.sub_price)
        $orderdetail.find('[name$=price_discount]').val(product.price_discount * quantity)
        $orderdetail.find('[name$=amount_price]').val(product.price * quantity)
        $orderdetail.find('[name$=sub_total]').val(product.price * quantity - product.price_discount * quantity)
      } else {
        $orderdetail.find('[name$=price_unit]').val('')
        $orderdetail.find('[name$=sub_price_unit]').val('')
        $orderdetail.find('[name$=price_discount]').val('')
        $orderdetail.find('[name$=amount_price]').val('')
        $orderdetail.find('[name$=sub_total]').val('')
      }

      /*
      SERVICES.getProduct({
        data: { product_id: productId },
        success: function (result) {
          if (result.success) {
            product = result.product
            quantity = parseInt($orderdetail.find('[name$=quantity]').val())

            $orderdetail.find('[name$=price_unit]').val(product.price)
            $orderdetail.find('[name$=sub_price_unit]').val(product.sub_price)
            $orderdetail.find('[name$=price_discount]').val(product.price_discount * quantity)
            $orderdetail.find('[name$=amount_price]').val(product.price * quantity)
            $orderdetail.find('[name$=sub_total]').val(product.price * quantity - product.price_discount * quantity)
          } else {
            alert(result.messages)
          }
        }
      })
      */
    })

    $(document).on('change', 'input[name$=quantity]', function () {
      const quantity = parseInt($(this).val())
      const $orderdetail = $(this).parents('.order-detail-form')

      productPrice = parseInt($orderdetail.find('[name$=price_unit]').val())
      productSubPrice = parseInt($orderdetail.find('[name$=sub_price_unit]').val())
      productPriceDiscount = productPrice - productSubPrice

      $orderdetail.find('[name$=price_unit]').val(productPrice)
      $orderdetail.find('[name$=sub_price_unit]').val(productSubPrice)
      $orderdetail.find('[name$=price_discount]').val(productPriceDiscount * quantity)
      $orderdetail.find('[name$=amount_price]').val(productPrice * quantity)
      $orderdetail.find('[name$=sub_total]').val(productPrice * quantity - productPriceDiscount * quantity)
    })

  })
</script>
{% endblock body %}