{% extends "store/management/base-management.html" %}

{% block content %}
<h1>Đơn hàng mới</h1>
<form id="father-form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>

  <hr />
  {{ inlines.management_form }}
  <div id="formset" class="orderdetail-formset">
    {% for inline in inlines %}
    <table class="order-detail-form">
      {{ inline.as_table }}
    </table>
    {% endfor %}
  </div>
  <div id="empty-form" style="display:none">
    <table class="order-detail-form">
      {{ inlines.empty_form.as_table }}
    </table>
  </div>
  <button type="button" id="add-more">Thêm sản phẩm</button>
  <button type="submit">Tạo đơn hàng</button>
</form>

{{ form.media }}
{% endblock content %}