{% extends "store/management/base-management.html" %}

{% block content %}
<a href="{% url 'order_list' %}">Danh sách đơn hàng</a>
<span>Trạng thái: {{ order.orderdeliver.get_status_display|default:"Không tồn tại" }}</span>
<br/><br/>
{% if order.orderdeliver.status == 'draft' or order.orderdeliver.status == 'confirmed' or order.orderdeliver.status == 'processing' %}
<form id="father-form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>

  {{ inlines.management_form }}
  <div id="formset" class="orderdetail-formset">
    {% for inline in inlines %}
    <table class="order-detail-form">
      {{ inline.as_table }}
    </table>
    {% endfor %}
  </div>
  <div id="empty-form" style="display:none">
    <table class="order-detail-form">
      {{ inlines.empty_form.as_table }}
    </table>
  </div>
  <button type="button" id="add-more">Thêm sản phẩm</button>
  <button type="submit">Cập nhật đơn hàng</button>
</form>
{% else %}
<div>
  {% csrf_token %}
  <ul>
    <fieldset disabled="disabled">
      {{ form.as_ul }}
    </fieldset>
  </ul>

  <hr />
  {{ inlines.management_form }}
  <div id="formset" class="orderdetail-formset">
    {% for inline in inlines %}
    <div class="order-detail-form">
      <ul>
        <fieldset disabled="disabled">
          {{ inline.as_ul }}
        </fieldset>
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<br/><br/>
Ghi chú của nhân viên: {{ order.orderdeliver.note|default:"Không" }}
<br/><br/>
<hr/>
{% include 'store/management/order-process-bar.html' %}

<style>
  ul {
    list-style-type: none;
    padding-left: 0;
  }
</style>

{{ form.media }}
{% endblock content %}