<div class="hiscart">
  <form class="mainsearch" method="get" action="/search">
    <div class="easy-autocomplete" style="width: 385px;">
      <input
        type="text"
        name="product_name"
        id="text-search"
        placeholder="Bạn tìm gì?"
        maxlength="80"
        aria-label="text-search"
        autocomplete="off"
        value="{{ request.GET.product_name }}"
      />
    </div>
    <button type="submit" aria-label="Search"> <i class="bhx-search"></i> </button>
  </form>
  {% if request.partner %}
    <a href="{% url 'cart_detail' %}" class="profile">
      {{ request.partner.full_name }}
      <br />
      ({{ request.partner.email }})
    </a>
    <a href="{% url 'logout' %}" class="profile">Đăng xuất</a>
  {% else %}
    <a href="{% url 'login' %}" class="profile">Đăng nhập</a>
  {% endif %}
  <a href="{% url 'cart_detail' %}" class="histories">Đơn hàng<br>của bạn</a>
  <a href="{% url 'cart_detail' %}" class="temcart no">
    <div>
      <i class="bhx-cart" style="margin-bottom: 0px;"></i>
      <span class="pos-detail-count" class="">{{ pos.posdetail_set.count|default:0 }}</span>
    </div>
    <div>
      <b class="card">THANH TOÁN</b>
      <b class="sumorder pos-total">
        {{ pos.total|default:0|floatformat:"g" }}₫
      </b>
    </div>
  </a>
</div>