<div class="hiscart">
  <form class="mainsearch" method="get" action="{% url 'search' %}">
    <div class="easy-autocomplete" style="width: 385px;">
      <input
        type="text"
        name="tu-khoa"
        id="text-search"
        placeholder="Bạn tìm gì?"
        maxlength="80"
        aria-label="text-search"
        autocomplete="off"
        value="{{ request.GET.product_name }}"
      />
    </div>
    <button type="submit" aria-label="Search"> <i class="bhx-search"></i> </button>
  </form>
  <a href="{% url 'shopping_cart' %}" class="temcart no">
    <div>
      <i class="bhx-cart" style="margin-bottom: 0px;"></i>
      <span class="cart-sum-item">{{ shopping_cart.orderdetail_set.count|default:0 }}</span>
    </div>
    <div>
      <b class="card">THANH TOÁN</b>
      <b class="sumorder cart-amount-total">
        {{ shopping_cart.amount_total|default:0|floatformat:"g" }}₫
      </b>
    </div>
  </a>
</div>