<div class="hiscart">
  <form class="mainsearch" method="get" action="/search">
    <div class="easy-autocomplete" style="width: 385px;">
      <input
        type="text"
        name="product_name"
        id="text-search"
        placeholder="Bạn tìm gì?"
        maxlength="80"
        aria-label="text-search"
        autocomplete="off"
        value="{{ request.GET.product_name }}"
      />
      <div class="easy-autocomplete-container" id="eac-container-text-search">
        <ul></ul>
      </div>
    </div>
    <div class="reset"><i class="bhx-closemenu"></i></div><button type="submit" aria-label="Search"> <i
        class="bhx-search"></i> </button>
  </form>
  <a href="{% url 'cart_detail' %}" class="histories">Đơn hàng<br>của bạn</a>
  <a href="{% url 'cart_detail' %}" class="temcart no">
    <div><i class="bhx-cart" style="margin-bottom: 0px;"></i> <span id="pos_detail_count" class="">{{pos.posdetail_set.count}}</span></div>
    <div><b class="card">THANH TOÁN</b> <b id="pos_total" class="sumorder pos_total">{{ pos.total|default:0|floatformat:"g" }}₫</b></div>
  </a>
</div>